/Kurssistatistiikka/.nb-gradle/
/Kurssistatistiikka/build/

/HelloCucumber/.nb-gradle/
/HelloCucumber/build/
/LoginCucumber/.nb-gradle/
/LoginCucumber/build/
/MockitoDemo/.nb-gradle/
/MockitoDemo/build/
/viikko 4/MatkakorttiMockito/.nb-gradle/
/viikko4/MatkakorttiMockito/.nb-gradle/
/viikko4/MockitoDemo/.nb-gradle/
/viikko4/MockitoDemo/build/
/viikko4/MatkakorttiMockito/build/
/viikko4/VerkkokauppaSpring/.nb-gradle/
/viikko4/VerkkokauppaSpring/build/
/viikko5/IntJoukkoSovellus/.nb-gradle/
/viikko5/IntJoukkoSovellus/build/
/viikko5/Tennis/.nb-gradle/
/viikko5/Tennis/build/